h1{
  text-align: center;
  color: teal;
  
}
.card {
  width: 250px;
  margin-left: 140px;
  border-color: silver;
  border-radius: 10%;
  border-width: 4px;
  border-style: solid;
  display: inline-block;
  background-color: teal;
  color: white;
  text-align: center;
  padding: 10px ;
}
.card:hover
{
  outline: 2px solid rgb(224, 149, 64);
  outline-offset: 5px;
 
}

.image {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  
}
.btn {
  background: rgb(224, 149, 64);
}
